<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409801703862-hq6mhvgmu40kragos0t85ckc7e425mpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409801703862-hq6mhvgmu40kragos0t85ckc7e425mpg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409801703862-hrrknladbe51tuptuhg5sd8jhahgvs2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByXoTEW5QSPOiPVRQt8rryVA9eppkw7iE</string>
	<key>GCM_SENDER_ID</key>
	<string>409801703862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noysi</string>
	<key>PROJECT_ID</key>
	<string>noysi-production</string>
	<key>STORAGE_BUCKET</key>
	<string>noysi-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409801703862:ios:7a0593c076a19806b48117</string>
	<key>DATABASE_URL</key>
	<string>https://noysi-production.firebaseio.com</string>
</dict>
</plist>